.navbar-container {
  position: absolute; /* O puedes usar fixed si deseas que siempre esté visible al hacer scroll */
  top: 0; /* Se posiciona en la parte superior */
  right: 0; /* Se posiciona en el lado derecho */
  width: 200px; /* Ajusta el ancho del contenedor */
  padding: 10px;
  /* background-color: lightgray; */
}

h1 {
  color: rgb(255, 255, 255);
  margin: 10px 0;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}
