.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #fb580d; /* Sustituye este color por el que prefieras */
  margin: 0; /* Asegúrate de que no haya márgenes */
  height: 100vh; /* Esto asegura que cubra toda la ventana */
}
